/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 24px;
  height: 20px;
  right: 36px;
  top: 42px;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}
 
/* Color of close button cross */
.bm-cross {
  background: #bdc3c7;
  margin-top: -1px;
  width: 1px!important;
  height: 18px!important;
}
 
/* Background color of sidebar */
.bm-menu {
  background: #3c3c3c;
  box-shadow: -1px 0 5px rgba(0,0,0,.15);
}
 
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: white;
}
 
.bm-menu-wrap {
  z-index: 10000!important;
}
/* General menu styles */
.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
