---
layout: default
---

<header id="top-header">
  <a href="/" id="page-logo">
    <svg width="64" height="64" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="animated-logo"><g fill="none" fill-rule="evenodd"><path class="logo-path" d="M49.17 10.915L15.415 30.29l.058 39.252 34.633 20.082 33.345-18.95-.023-39.79-34.185 19.238" stroke="#D06D6D" stroke-width="4.987"/>
      <g transform="translate(41.5 3)"><ellipse cx="7.934" cy="7.97" rx="7.934" ry="7.97" fill="#D06D6D"/></g>
      <g transform="translate(8 22.482)"><ellipse cx="7.934" cy="7.97" rx="7.934" ry="7.97" fill="#D06D6D"/></g>
      <g transform="translate(8 62.33)"><ellipse cx="7.934" cy="7.97" rx="7.934" ry="7.97" fill="#D06D6D"/></g>
      <g transform="translate(42.382 81.813)"><ellipse cx="7.934" cy="7.97" rx="7.934" ry="7.97" fill="#D06D6D"/></g>
      <g transform="translate(75.882 62.33)"><ellipse cx="7.934" cy="7.97" rx="7.934" ry="7.97" fill="#D06D6D"/></g>
      <g transform="translate(75.882 22.482)"><ellipse cx="7.934" cy="7.97" rx="7.934" ry="7.97" fill="#D06D6D"/></g>
      <g transform="translate(42.382 41.964)"><ellipse cx="7.934" cy="7.97" rx="7.934" ry="7.97" fill="#D06D6D"/></g>
      </g>
    </svg>
  </a>
  <nav id="page-nav">
    <a href="">Starwars Django Example</a>
    <a href="/quickstart"{% if page.active_tab == "quickstart" %} class="active"{% endif %}>Quickstart Guide</a>
    <a href="/community"{% if page.active_tab == "community" %} class="active"{% endif %}>Community</a>
    <a href="https://github.com/graphql-python/graphene/"><span class="github-icon">Github</span></a>
  </nav>
</header>
<div id="page-headline">
  <h1 class="container">
    {{ page.title }}
  </h1>
  <h3 class="container">
    {{ page.description }}
  </h3>
</div>
<article id="page-article" class="container">
  {{ content }}
</article>
